.denglu{
    width: 100%;
    height: 383px;
    background-color: #fbeff3;
}
.denglu-con{
    width: 1235px;
    height: 383px;
    margin: 0 auto;
    position: relative;
}
.leftbox{
    width: 540px;
    height: 280px;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 30px;
    left: 60px;
}   
.rightbox{
    width: 540px;
    height: 322px;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 30px;
    left: 620px;
} 
.rightbox h2{
    width: 540px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
}
.rightbox .ipt1{
    width: 460px;
    height: 35px;
    outline: none;
    margin-left: 30px;
}
.rightbox .rightbox2{
    width: 460px;
    height: 35px;
    margin: 20px 30px;
}
.rightbox .ipt2{
    width: 300px;
    height: 35px;
    outline: none;
    float: left;
}
.rightbox .yanzheng{
    width: 150px;
    height: 35px;
    float: right;
    text-align: center;
    line-height: 35px;
}
.rightbox .rightbox3{
    width: 460px;
    height: 35px;
    margin: 20px 30px;
}
.rightbox .ipt3{
    width: 300px;
    height: 35px;
    outline: none;
    float: left;
}
.rightbox .shouji{
    font-size: 14px;
    color: #bababa;
}
.rightbox .btn{
    width: 460px;
    outline:none;
    height: 43px;
    background-color: #22362a;
    color: #ffffff;
    margin:30px;
}
.leftbox h2{
    width: 540px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
}
.leftbox h3{
    width: 540px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 100;
}
.leftbox .btn2{
    width: 460px;
    outline:none;
    height: 43px;
    background-color: #22362a;
    color: #ffffff;
    margin:45px;
}
.leftbox fieldset{
    width: 460px;
    margin-left: 30px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.leftbox legend{
    text-align: center;
    font-size: 12px;
}
.leftbox .img{
    width: 29px;
    height: 22px;
    margin: 15px 0 0 248px;
}
.bigimg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background: #ffffff;
    width: 530px;
    height: 530px;
    z-index: 11111111111;
}
.bigimg li{
    font-size: 19px;
    text-align: center;
    padding-top: 80px;
}
.bigimg .im{
    padding: 20px 0px 0 143px;
}
.bigimg p{
    color: #373737;
    font-size: 13px;
    text-align: center;
    padding-top: 10px
}
.bigimg span{
    display: block;
    color: #373737;
    font-size: 13px;
    text-align: center;
    padding-top: 5px
}
a{
    color:#ffffff;
    height: 43px;
}
.bigimg em{
    font-style: normal;
    display: block;
    margin-left: 488px;
    margin-top: -412px;
    cursor: pointer;
}
.bigimg em img:hover{
    transform: rotate(180deg);
    transition: all 1s ease-in-out;
    transform: origin 50%;
}
/* .zhedang{
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.7;
}
html,body{
    width: 100%;
    height: 100%;
} */